.App {
  text-align: center;
}
.icon{
  width:1%;
  height:1%;
}
.gralContainer{
  width: 100%;
}
.logocerve{
  display: flex;
  margin: auto;
  width: 200px;
}
.containerGral{
  display: inline-flex;
    height: 350px;
    align-items: flex-end;
    width: 100%;
}
.menu-container{
  display: flex;
  width: 300px;
  padding-top: 20px;
}
.detailContainer {
  max-width: 345px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 30px;
}

.backButton {
  padding-top: 20px;
}
.title{
  font-family: cursive;
    font-size: 23px;
    text-shadow: 3px 2px #999;
}
.content-container{
  width: 60%;
  height: 300px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MuiAppBar-colorPrimary{
background: rgb(142,109,21);
background: linear-gradient(90deg, rgba(142,109,21,1) 0%, rgba(218,171,6,1) 19%, rgba(121,79,9,0.9206057422969187) 47%, rgba(171,142,67,1) 54%, rgba(214,167,73,1) 78%, rgba(215,147,10,1) 90%); 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.buyButton {
  margin-top: 10px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.link {
  color: black;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 7px 3px 5px grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
